:root {
  --primary: #fef7f2;
  --secondary: #2b1b12;
  --accent: #ddc7bb;
  --text: #695346;
  --muted: #ffffff;
  --info: #4f3527;
  --cart: #e8d5c4;
  --search: rgba(105, 83, 70, 0.7);
}

.navbar-owner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--search);
  border-bottom: 1px solid #d1d5db;
  position: relative;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .navbar-owner {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.owner-navbar-logo {
  height: 80px;
}

.owner-navbar-welcome {
  font-size: 1rem;
}
