:root {
  --primary: #fef7f2;
  --secondary: #2b1b12;
  --accent: #ddc7bb;
  --text: #695346;
  --muted: #ffffff;
  --info: #4f3527;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Alignment for left */
.title-left {
  align-items: flex-start;
  text-align: left;
}

/* Main title */
.title-main {
  font-weight: 600;
  font-size: 2.25rem;
  color: var(--secondary);
}

@media (min-width: 768px) {
  .title-main {
    font-size: 2.5rem;
  }
}

/* Subtitle */
.title-sub {
  font-size: 0.875rem;
  color: var(--text);
  margin-top: 0.5rem;
  max-width: 39rem;
}

@media (min-width: 768px) {
  .title-sub {
    font-size: 1rem;
  }
}
